* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blog-page{
    height: 100vh;
    background-color: #232222;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
    margin: 0;
    overflow-y: scroll;
    overflow-x: auto;
}

.Rankings-page{
    height: 100vh;
    background-color: #232222;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
    margin: 0;
    overflow-y: scroll;
    overflow-x: auto;
}

.sb__MainButtons-links {
    display: flex;
    flex-direction: column;
}

.sb__MainButtons-links_div {
    position: absolute;
    right: 0;
}

.sb__MainButtons-links a {
    text-decoration: none;
    color: forestgreen;
    font-size: 35px;
}

.sb__MainButtons-links_div p {
    font-weight: bold;
    margin-right: 10px;
    display: inline;
}

.sb__Secondary_Buttons-links_div {
    display: flex;
    padding: 45px;
    position: absolute;
    right: -15%;
}

.sb__Secondary_Buttons-links_div a {
    text-decoration: none;
    color: gold;
    margin-right: 30px;
    font-size: 25px;
}

.sb__Secondary_buttons-links_div p {
    font-weight: bold;
}

.wrapper-buttons{
    top: 3%;
    width: 450px;
    height: 80px;
    right: 50px;
    margin-right: 1%;
    position: absolute;
    border: 1px solid red;
}

.dropdown{
    z-index: 1;
    float: left !important;
    margin-left: 200px !important;
}

.blog-page-wrapper {
    font-family: Arial;
    padding: 20px;
    background-color: #232222;
}

.Header {
    left: 50%;
    margin-left: -234px;

    margin-top: 70px;
    padding: 30px;
    font-size: 40px;
    text-align: center;
    color: forestgreen;
}


.leftcolumn {
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.placeHolderimg {
    background: url("/Assets/Images/img16.jpg") no-repeat;
    width: 100%;
    height: 300px;
    padding: 20px;
    display: flex;
    justify-content: right;
    align-items: end;
}

.placeHolderimg2 {
    background: url("img16.jpg") no-repeat;
    width: 100%;
    height: 300px;
    padding: 20px;
}

.card_custom {
    color: whitesmoke;
    background-color: #083e08;
    padding: 20px;
    margin-top: 20px;
}

.card_custom .text-left{
    width: 150%;
    padding-right: 10px;
}

.card_custom .Row {
    display: flex;
}

.dropbtn {
    right: 0;
    background-color: #232222;
    color: forestgreen;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    right: -325px;
    position: relative;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dropdown-content {
    right: 0;
    display:none;
    position: absolute;
    background-color: #232222;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.card2 {
    color: whitesmoke;
    background-color: #083e08;
    padding: 20px;
    margin-top: 20px;
}

.card_custom h2, h3{
    margin-block-end: 20px;
    margin-block-start: 20px;
    color: gold;
}

.card2 h2, h3{
    margin-block-end: 20px;
    margin-block-start: 20px;
    color: gold;
}

.card_custom h5{
    margin-block-end: 22px;
    margin-block-start: 22px;
    color: whitesmoke;
}

.card_custom p{
    margin-block-end: 16px;
    margin-block-start: 16px;
}

.Row:after {
    content: "";
    display: table;
    clear: both;
}


.container_custom{
    max-width: 1170px;
    margin:auto;
}

.About{
    height: 100vh;
    background-color: #232222;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
    margin: 0;
    overflow-y: scroll;
    overflow-x: auto;
}

.introductoryParagraph
{
    margin-left: 2vw;
    text-align: left;
    font-size: 40px;
    font-style: italic;
    margin-top: 25vh;
    color: ghostwhite;
}

/*2560x1440*/
:root {
    --transformY-logo-offset: 50%;
    --transformY-text-offset: 100%;

    --transformX-logo-offset: 180%;
    --transformX-text-offset: 20%;

    --wrapper-carousel-offset-top: 12%;

    --right-text-offset: 35%;
}

/*height*/


@media only screen and (max-height: 1080px) {
    :root {
        --wrapper-carousel-offset-top: 12%;

        --transformY-logo-offset: 35%;

        --transformY-text-offset: 30%;
    }
}

/*width*/
@media only screen and (max-width: 1920px) and (min-width: 1651px) {
    :root {
        --transformX-logo-offset: 130%;


        --transformX-text-offset: 20%;


        --right-text-offset: 52%;
    }
}

@media only screen and (max-width: 1650px) and (min-width: 1466px){
    :root {
        --transformX-logo-offset: 90%;
    }
}

@media only screen and (max-width: 1465px) and (min-width: 1361px) {
    :root {
        --transformX-logo-offset: 60%;
    }
}

@media only screen and (max-width: 1360px) and (min-width: 1261px){
    :root {
        --transformX-logo-offset: 30%;
        .sachLevice_text3{
            flex-direction: column;
            padding-right: 20px;
        }
    }
}

@media only screen and (max-width: 1260px) and (min-width: 1209px)  {
    :root {
        --transformX-logo-offset: 25%;
        .wrapper-carousel{
            right: 7%;
        }
        .wrapper-buttons{
            right: 6%;
        }
        .Modern_History-container{
            flex-direction: column;
        }
        .img1-container{
            padding-bottom: 30px;
        }
        .sachLevice_text3{
            flex-direction: column;
        }
    }
}

@media only screen and (max-width: 1208px) and (min-width: 773px) {
    :root {
        --transformX-logo-offset: 70%;
        --transformY-logo-offset: 170%;
        --transformY-text-offset: 60%;
        .wrapper-carousel{
            left: 3%;
            float: left;
        }
        .Modern_History{
            margin-top: 600px;
            margin-right: 50px;
            margin-left: 50px;
        }
        .Modern_History-container{
            flex-direction: column;
        }
        .img1-container{
            padding-bottom: 30px;
        }
        .sachLevice_text3{
            flex-direction: column;
        }
    }
}

@media only screen and (max-width: 762px) {
    :root {
        --transformX-logo-offset: 70%;
        --transformY-logo-offset: 150%;
        --transformY-text-offset: 60%;
        .wrapper-carousel{
            left: 0;
            float: left;
        }

        .Modern_History{
            margin-top: 600px;
            margin-right: 20px;
            margin-left: 20px;
        }
        .custom-box{
            display: none;
        }
        .Modern_History-container{
            flex-direction: column;
        }
        .img1-container{
            padding-bottom: 30px;
        }
        .sachLevice_text3{
            flex-direction: column;
        }
    }
}

.Modern_History{
    margin-top: 236px;
    margin-right: 200px;
    margin-left: 200px;
    position: relative;
}

.Modern_History h1{
    padding-bottom: 30px;
}

.Modern_History h2{
    padding-bottom: 30px;
    padding-top: 30px;
    margin-right: 10%;
    font-family: DidotBoldItalic, sans-serif;
}

.text3 p{
    padding-bottom: 30px;
    padding-top: 30px;
    color: ghostwhite;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    font-family: Arial;
}

.img1-container{
    margin-top: 8%;
    padding-left: 30px;
    height: 346px;
    width: 346px;
}

.img1-container img{
    border: 5px solid gold;
}

.img2-container{
    padding-bottom: 30px;
    float: left;
    flex: 0 0 auto;
}

.img2-container h6{
    font-size: 13px;
    padding-top: 5px;
}

.img2-container img{
    height: 346px;
    width: 517px;
    border: 5px solid gold;
}

.img1-container img{
    height: 346px;
    width: 346px;
    object-fit: cover;
    flex-direction: column;
}

.sachLevice_text2{
    color: ghostwhite;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    font-family: Arial;
}

.wrapper-carousel{
    width: 720px;
    height: 415px;
    position: absolute;
    top: var(--wrapper-carousel-offset-top);
    right: 3%;
    z-index: 1;
}


.logo img{
    height: 346px;
    width: 346px;
    transform: translateX(var(--transformX-logo-offset)) translateY(var(--transformY-logo-offset));
    object-fit: cover;
    flex-direction: column;
}

.custom-box {
    background-color: #083e08;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 650px;
    height: 350px;
    z-index: 1;
}

.slide-frame{
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 650px;
    height: 350px;
    padding: 20px;
    border-radius: 10px;
    z-index: 2;
    flex-direction: row;
    display: flex;
    flex: 0 0 0;
}

img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

@keyframes slideImages {
    0% { transform: translateX(0%); }
    5% { transform: translateX(-25%); }
    10% { transform: translateX(-50%); }
    15% { transform: translateX(-75%); }
    20% { transform: translateX(-100%); }
    25% { transform: translateX(-125%); }
    30% { transform: translateX(-150%); }
    35% { transform: translateX(-175%); }
    40% { transform: translateX(-200%); }
    45% { transform: translateX(-225%); }
    50% { transform: translateX(-250%); }
    55% { transform: translateX(-275%); }
    60% { transform: translateX(-300%); }
    65% { transform: translateX(-325%); }
    70% { transform: translateX(-350%); }
    75% { transform: translateX(-375%); }
    80% { transform: translateX(-400%); }
    85% { transform: translateX(-425%); }
    90% { transform: translateX(-450%); }
    95% { transform: translateX(-475%); }
    97%{ transform: translateX(-495%); }
    100% { transform: translateX(-500%); }
}

.img-container {
    position: relative;
    display: flex;
    animation: slideImages 40s linear infinite;
}

.img-container  img {
    flex: 0 0 calc(25% - 30px);
    margin-right: 30px;
    width: 100%;
    height: 25%;
    object-fit: cover;
}

.sachLevice_text {
    color: ghostwhite;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    font-family: Arial;
}

.headline-container {
    color: ghostwhite;
}
.headline-container h1{
    color: ghostwhite;
    display: block;
    font-family: "GFS Didot", sans-serif;
    font-size: 50px;
    font-weight: 700;
    height: 55px;
    line-height: 55px;
    margin-block-end: 10px;
    margin-block-start: 20px;
    margin-bottom: 60px;
    margin-inline-end: 0;
    margin-inline-start: 0;
    margin-top: 20px;
    text-align: left;
    text-size-adjust: 100%;
}

.sachLevice_text p{
    line-height: 26px;
}

.Headline-container{
    text-align: left;
}

.sachLevice_text3{
    color: ghostwhite;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    font-family: Arial;
    display: flex;
}

.Headline2-container{;
    text-align: left;
    margin-left: 10%;
}

.Headline2-container h2{
    padding-bottom: 0;
}

.Headline3-container{;
    text-align: left;
    margin-left: 20%;
}

.Headline3-container h2{
    padding-top: 0;
}

.sachLevice_text3 {
    float: right;
}

.Headline3-container h3{
    font-size: 27px;
    padding-top: 30px;
    padding-bottom: 0;
}

.Headline3-container h4{
    font-size: 27px;
    padding-bottom: 30px;
    margin-left: 25%;
}

.Modern_History-container{
    display: flex;
    flex-direction: row-reverse;
}

.sachLevice_text3_sub{
    padding-left: 30px;
}
.logo {
    object-fit: cover;
}

.gallery{
    height: 100vh;
    background-color: #232222;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
    margin: 0;
    overflow-y: scroll;
    overflow-x: auto;
}

.wrapper-gallery{
    margin: 0 20vw;
}

.slider {
    margin-top: 5%;
}

.slider #headline {
    color: forestgreen;
    margin-left: 47%;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: gold;
    grid-auto-rows: auto;
    grid-gap: 10px;
    grid-template-areas:
    "gallery-h2 gallery-h2 gallery-h2 gallery-h2"
    "img1 img2 img3 img4"
    "img5 img6 img7 img8";
}

#gallery .gallery-img{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

#gallery h2{
    grid-area: gallery-h2;
}

#gallery .img1{
    grid-area: img1;
    background-image: url("Assets/Images/thumbnails/img1.jpg");
}

#gallery .img2{
    grid-area: img2;
    background-image: url("Assets/Images/thumbnails/img2.jpg");
}

#gallery .img3{
    grid-area: img3;
    background-image: url("Assets/Images/thumbnails/img3.jpg");
}

#gallery .img4{
    grid-area: img4;
    background-image: url("Assets/Images/thumbnails/img4.jpg");
}

#gallery .img5{
    grid-area: img5;
    background-image: url("Assets/Images/thumbnails/img5.jpg");
}

#gallery .img6{
    grid-area: img6;
    background-image: url("Assets/Images/thumbnails/img6.jpg");
}

#gallery .img7{
    grid-area: img7;
    background-image: url("Assets/Images/thumbnails/img7.png");
}

#gallery .img8{
    grid-area: img8;
    background-image: url("Assets/Images/thumbnails/img8.jpg");
}

.img-frame {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: gold;
    text-decoration: none;
    text-transform: uppercase;
}

.img-frame:hover{
    opacity: 0.8;
    transition: all ease-in-out 100ms;
}

#gallery2 {
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 10px;
    grid-template-areas:
    "gallery-h2 gallery-h2 gallery-h2 gallery-h2"
    "img9 img10 img15 img11"
    "img13 img14 img15 img12";
}

#gallery2 .gallery-img2{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

#gallery2 h2{
    grid-area: gallery-h2;
}

#gallery2 .img9{
    grid-area: img9;
    background-image: url("Assets/Images/thumbnails/img9.jpg");
}

#gallery2 .img10{
    grid-area: img10;
    background-image: url("Assets/Images/thumbnails/img10.jpg");
}

#gallery2 .img11{
    grid-area: img11;
    background-image: url("Assets/Images/thumbnails/img11.jpg");
}

#gallery2 .img12{
    grid-area: img12;
    background-image: url("Assets/Images/thumbnails/img12.jpg");
}

#gallery2 .img13{
    grid-area: img13;
    background-image: url("Assets/Images/thumbnails/img13.jpg");
}

#gallery2 .img14{
    grid-area: img14;
    background-image: url("Assets/Images/thumbnails/img14.jpg");
}

#gallery2 .img15{
    grid-area: img15;
    height: 610px;
    background-image: url("Assets/Images/thumbnails/img15.jpg");
}


.slider {
    width: 100%;
    height: 700px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 100%;
    height: 630px;
}

.slides input{
    display: none;
}

.navigation{
    position: absolute;
    width: 800px;
    margin-top: 30px;
    margin-left: 28.5%;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid gold;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: gold;
}

#radio2:checked ~#gallery{
    margin-left: 0;
}

#radio2:checked ~#gallery{
    display: none;
}

#radio2:checked ~#gallery2{
    display: grid;
}

.month{
    color: gold;
}

.rowf{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    margin-top: 50px;
    background-color: black;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: forestgreen;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: gold;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: gold;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: gold;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

.registration {
    height: 100vh;
    background-color: #232222;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
    margin: 0;
    overflow-y: scroll;
    overflow-x: auto;
    font-family: arial, sans-serif;
}

#form {
    width: 500px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: gold;
    background-color: forestgreen;
    border: none;
    border-radius: 4px;
}

.input-control {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 95%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

.sex-option {
    display: inline-block;
    margin-right: 50px;
}

.sex-radio:not(:checked) {
    border-color: #ff3860;
}

.sex-radio:checked {
    border-color: #09c372;
}

#title {
    width: 50px;
}

#submit {
    font-weight: bold;
}

textarea {
    resize: none;
}

#form h1{
    color: forestgreen;
}


.Header {
    left: 50%;
    margin-left: -234px;

    margin-top: 70px;
    padding: 30px;
    font-size: 40px;
    text-align: center;
    color: forestgreen;
}

.contents-wrapper {
    margin-left: 23%;
    margin-top: 15%;
}

.table-wrapper #ranking-type {
    color: forestgreen;
    margin-left: 45%;
    margin-top: 50px;
}